bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
.idea
logs
target
.idea
.idea_modules
.classpath
.project
.settings
.DS_Store
.sbtserver/
RUNNING_PID
**/*.log

